.box {
    background: #151641;
    padding: 50px 0 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.row h1 {
    font-size: 35px !important;
    color: #2AC7F7;
    padding-top: 30px;
}

.row p {
    color: #F2F2F2;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    padding-left: 300px !important;
}

.extraBold {
    font-weight: 700 !important;
}

.bold {
    font-weight: 500 !important;
}

.icon {
    padding: 23px;
}

.btnBox {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.syllabusBtn {
    background: rgb(177, 43, 190);
    background: linear-gradient(90deg, rgba(177, 43, 190, 1) 25%, rgba(59, 199, 241, 1) 100%);
    font-family: 'Heebo', sans-serif !important;
    font-size: 20px !important;
    padding: 10px 52px !important;
    border-radius: 10px !important;
}

.syllabusBtn:hover {
    background: rgb(177, 43, 190);
    background: linear-gradient(90deg, rgba(177, 43, 190, 1) 15%, rgba(59, 199, 241, 1) 80%);
    font-family: 'Heebo', sans-serif !important;
    font-size: 20px !important;
    padding: 10px 52px !important;
    border-radius: 10px !important;
}

.rowIcons {
    display: flex;
    padding: 50px 0 20px 0;
    margin: 0 auto;
    justify-content: space-between;
}

.rowIcons .boxIcon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rowIcons .boxIcon:first-of-type {
    width: 45%;
    justify-content: flex-end;
}

.rowIcons h4 {
    font-size: 35px !important;
    color: #2AC7F7;
}

.iconButtom {
    padding: 20px 0 20px 20px;
}

.rowIcons p {
    color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 200;
}

.rowIcons .boxIcon img {
    width: 130px;
    display: block !important;
}


/* ipad air */

@media screen and (max-width:1180px) {
    .box {
        background: #151641;
        padding: 50px 0 50px 0;
    }
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        align-items: center;
    }
    .row h1 {
        font-size: 35px !important;
        color: #2AC7F7;
    }
    .row:last-of-type h1 {
        padding-top: 30px;
    }
    .row p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 100px !important;
    }
    .extraBold {
        font-weight: 800 !important;
    }
    .bold {
        font-weight: 500 !important;
    }
    .rowIcons {
        display: flex;
        padding: 50px 0 20px 0;
        margin: 0 auto;
        justify-content: space-between;
    }
    .rowIcons .boxIcon {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }
    .rowIcons .boxIcon:first-of-type {
        width: 55%;
    }
    .rowIcons h4 {
        font-size: 30px !important;
        color: #2AC7F7;
    }
    .iconButtom {
        padding: 20px 0 20px 20px;
    }
    .rowIcons p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-weight: 300;
    }
    .rowIcons .boxIcon img {
        width: 100px;
        display: block !important;
    }
}


/* ipad mini */

@media screen and (max-width: 819px) {
    .box {
        background: #151641;
        padding: 50px 0 50px 0;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    .row {
        display: flex;
        align-items: center;
    }
    .row h1 {
        padding: 0 !important;
        margin: 0 !important;
        font-size: 35px !important;
        color: #2AC7F7;
    }
    .row:last-of-type h1 {
        padding-top: 0 !important;
    }
    .row p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 0 !important;
    }
    .extraBold {
        font-weight: 800 !important;
    }
    .bold {
        font-weight: 500 !important;
    }
    .rowIcons {
        display: flex;
        padding: 50px 0 20px 0;
        margin: 0 auto;
        justify-content: space-between;
    }
    .rowIcons .boxIcon {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }
    .rowIcons .boxIcon:first-of-type {
        width: 55%;
    }
    .rowIcons h4 {
        font-size: 27px !important;
        color: #2AC7F7;
    }
    .iconButtom {
        padding: 20px 0 20px 20px;
    }
    .brNone {
        display: none;
    }
    .rowIcons p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 300;
    }
    .rowIcons .boxIcon img {
        width: 100px;
        display: block !important;
    }
}


/* Mobile */

@media screen and (max-width: 767px) {
    .box {
        background: #151641;
        padding: 50px 0 50px 0;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px 0 20px;
    }
    .row:first-of-type {
        margin: 0;
    }
    .row {
        margin-top: 30px;
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .row h1 {
        font-size: 27px !important;
        color: #2AC7F7;
        padding: 0;
    }
    .row:last-of-type h1 {
        padding-top: 30px;
        padding: 0;
    }
    .row p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
    }
    .extraBold {
        font-weight: 800 !important;
        padding: 0;
        margin: 0;
    }
    .bold {
        font-weight: 500 !important;
    }
    .syllabusBtn {
        background: rgb(177, 43, 190);
        background: linear-gradient(90deg, rgba(177, 43, 190, 1) 25%, rgba(59, 199, 241, 1) 100%);
        font-family: 'Heebo', sans-serif !important;
        font-size: 16px !important;
        padding: 10px 50px !important;
        border-radius: 10px !important;
    }
    .syllabusBtn:hover {
        background: rgb(177, 43, 190);
        background: linear-gradient(90deg, rgba(177, 43, 190, 1) 15%, rgba(59, 199, 241, 1) 80%);
        font-family: 'Heebo', sans-serif !important;
        font-size: 16px !important;
        padding: 10px 50px !important;
        border-radius: 10px !important;
    }
    .rowIcons {
        display: block;
        padding: 50px 0 20px 0;
        margin: 0 auto;
        justify-content: center;
    }
    .rowIcons .boxIcon {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }
    .rowIcons .boxIcon:first-of-type {
        width: auto;
    }
    .rowIcons h4 {
        font-size: 23px !important;
        color: #2AC7F7;
    }
    .iconButtom {
        padding: 10px 0 10px 10px;
    }
    .rowIcons p {
        color: #F2F2F2;
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: 300;
    }
    .rowIcons .boxIcon img {
        width: 70px;
        margin-left: 0 !important;
        display: block !important;
    }
    .icon {
        padding: 0;
    }
}