.sec5 {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #151641;
}

.storiesH {
    font-size: 35px !important;
    color: #2AC7F7;
    text-align: center;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.cardSwiper {
    height: 280px;
}

.prevAndNextIcons:hover {
    cursor: pointer;
    filter: grayscale(50%);
    transition: 1s;
}

.bgStory {
    background-position: center center;
    background-size: cover;
}

.showMobile {
    display: none !important;
}

.showDekstop {
    display: block;
    display: flex;
    align-items: center;
}

@media screen and (max-width:1180px) {
    .container {
        margin: 0 auto;
        max-width: 900px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .showMobile {
        display: block !important;
    }
    .showDekstop {
        display: none;
    }
}

@media screen and (max-width: 819px) {
    .container {
        margin: 0 auto;
        max-width: 900px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .showMobile {
        display: block !important;
    }
    .showDekstop {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .showMobile {
        display: block !important;
    }
    .showDekstop {
        display: none;
    }
    .cardSwiper {
        height: 250px;
    }
}